1.>Python (version 3.7.7)

2.>Spacy (version 2.2.4) 
For installation use :-
pip install spacy

3.> Spacy Large Prediction Model
For installation use :-
python -m spacy download en_core_web_lg

4.>Yotube Transcript API (version 0.3.1)
For installation use :-
pip install youtube-transcript-api

5.>RAKE (version 1.4.5)
For installation use :-
pip install python-rake

6.>youtube_dl (version 2020.5.29)
For installation use :-
pip install youtube-dl

7.>pafy (version 0.5.5)
For installation use :-
pip install pafy