Python (version 3.7.7)

Python Modules: (Command : pip install modulename)

punctuator==0.9.5
language-tool-python==2.2.2
SpeechRecognition==3.6.3
pydub==0.23.1
youtube-dl==2020.5.29
youtube-transcript-api==0.3.1
opencv-python==3.4.9.33
pafy==0.5.5
numpy==1.18.1
imageio==2.8.0
pytesseract==0.3.4
nltk==3.5
sumy==0.8.1
python-rake==1.4.5
beautifulsoup4==4.9.0
urllib3==1.25.9
beautifulsoup4==4.9.1
fake-useragent==0.1.11
Wikipedia-API==0.5.4
spacy==2.1.0

neuralcoref
pysbd
python-docx
spacy-universal-sentence-encoder


Additional Models
Demo-Europarl-EN.pcl : https://drive.google.com/drive/folders/0B7BsN5f2F1fZQnFsbzJ3TWxxMms
language_tool_python.LanguageTool('en-US')
ffmpeg : https://www.ffmpeg.org/download.html
Tesseract : https://github.com/UB-Mannheim/tesseract/wiki
nltk.download('punkt')
spacy.cli.download("en")
nlp = spacy.load("en")
wiki_wiki = wikipediaapi.Wikipedia('en')