.mysidenav {
    height: 100%; 
    width: 80px; 
    position: fixed;
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#1D3E53;
  }

  .mysidenav a {
    padding: 8px;
    padding-bottom: 0px;
    text-align:right;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block; 
    transition: 0.3s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .mysidenav {padding-top: 15px;}
    .mysidenav a {font-size: 18px;}
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 20px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .dot {
    height: 54px;
    width: 54px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 9.5px;
    margin-bottom: 150px;
  }