:root{
  --transition-time:0.5s;
}

.Stepper{
    background-color: transparent !important;
}

.inputLink{
    width: 40% !important;
}

.Darkinput{
    transition: var(--transition-time);
    filter: invert(1);
}

#or {
    position: relative;
    width: 300px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    font-weight: 800;
    color: darkgray;
    margin: auto;
  }
  
  #or::before,
  #or::after {
    position: absolute;
    width: 130px;
    height: 1px;
    
    top: 24px;
    
    background-color: #aaa;
    
    content: '';
  }
  
  #or::before {
    left: 0;
  }
  
  #or::after {
    right: 0;
  }

  .input {
    visibility: hidden;
    display: none;
  }

  .Videocenter{
    margin-left: 34%;
    margin-right: 34%;
  }

  .backdrop {
    backdrop-filter: blur(5px)
  }

  .othervideo{
    cursor: pointer;
  }
  
  .Button{
    background: #FF9900 !important;
    font-weight: bold !important;
  }
  
   .playerWrapper {
    position: relative;
    padding-top: 19% /* Player ratio: 100 / (1280px / 720);; /* padding-left: 37.25%;; */;
    margin-left: 80px;
  }
  
  .reactPlayer {
    position: absolute;
    top: 0;
    left: 27%
  }