html{
  height: 100%;
}

body{
  background : #476D7C;
  min-height: 100%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(69, 82, 90); 
  font-weight: bold;
}

.Download-button{
  margin-top:20px;
}

.brevis{
  padding: 8px;
  padding-left: 0px;
}