html{
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(180deg, #a8a8a8 0%, rgba(255, 255, 255, 0) 137.5%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(217, 217, 217, 0) 100%);
}

.nav-wrapper{
  background: linear-gradient(blue,#a8a8a8);
}

.brevis{
font-family: Rammetto One;
font-style: normal;
font-weight: normal;
font-size: 50px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
}

.btn{
  border-radius: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #636363;
  opacity: 1; /* Firefox */
  font-weight: bold;
}

.Radio-Button{
  text-decoration-color: black;
  opacity: 1; /* Firefox */
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
