html{
  min-height: 100%;
}

body {
  margin: 0;
  background: url(/img/image.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #EDEEF0;
}

.brevis{
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  padding-left: 60%;
  line-height: 84px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.about-brevis{
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 84px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.left-alignment{
  width: 85%;
  padding-left: 50%;
}

.Download-button{
  padding-left: 40.5%;
}

.button{
  padding-left: 65%;
}

.btn{
  border-radius: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #636363;
  opacity: 1; /* Firefox */
  font-weight: bold;
}

.Radio-Button{
  text-decoration-color: black;
  opacity: 1; /* Firefox */
  font-weight: bold;
}

.custom-select option{
  padding:20px;
  /* display:inline-block; */
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.custom-select select {
  display:inline-block; /*hide original SELECT element: */
  color: black;
  background-color:#EDEEF0;
  width: 85%;
  border: none;
  font-size: 15px;
  font-family: serif;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}

.dropdown{
  padding-left: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}